@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  background: #111;
  margin: 0;
  font-family: Libreville Baskerville;
  color: #fff;
  height: 2000px;
}


main {
  animation: 1s ease-out 0s 1 slideInBottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  height:calc(100vh - 100px);
}

/* ------------ Hero Image ----------- */
#hero_img {
  flex: 4;
  background-image: url('../../public/studioustatue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background: transparent rgba(11,11,11,0.4) ;
  width: clamp(500px,50%,1000px);
}

#quote {
  animation: 1s ease-out 0s 1 slideInLeft;
  position: relative;
  top: 40%;
  font-style: Libreville Baskerville;
  color: #FFD98C;
  text-shadow: -2px 2px 5px black;
  font-weight: 700;

  font-size: clamp(1.8rem, 2.7vw, 2.8rem);
}

#subquote {
  animation: 1s ease-out 0s 1 slideInRight;
  position: relative;
  top: 38%;
  font-style: Baskerville;
  color: #fff;
  text-shadow: -2px 2px 5px black;
  font-weight: 500;

  font-size: clamp(1.2rem, 2.5vw, 2.0rem);
}



/*-- Personal Statement --*/ 

#blurb {
  margin: 5px;
  width: clamp(500px,50%,1000px);
  flex: 2;
  background-color: #111;
  border: 2px solid #d9dcdc;
  border-radius: 4px;
}
.header {
  font-size: 28px;
  text-align: left;
  padding-left: 20px;
  text-decoration: underline solid white 1px;
}


/*-- Blog Posts --*/ 


#pinned {
  margin: 15px;
  display: flex;
  width: clamp(500px,50%,1000px);
  flex-direction: row;
  align-items: center;
  background-color: #111;
}


