---
import '../styles/global.css/';
import Navigation from '../components/navBar.astro';
import Footer from '../components/footer.astro';
import Post from '../components/postlink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Grow your Mind";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
      <div id="main-container">
          
        <!-- Hero Image -->
        <section id="hero_img">
          <h1 id="quote">With every question pondered and every <br> answer sought,</h1>
          <p id="subquote">the mind stretches further. Embrace the pursuit, for knowledge is endless.</p>
        </section>

        <!-- Personal Statement -->
        <section id="blurb">
          <h1 class="header"> The Vault </h1>
          <p> Using Obsidian has completely changed the way I view notetaking and learning. It's not solely because of obsidian, but the app also introduced the idea of a **Second Brain** method for *knowledge management*. I've attempted--and actively attempting--to fully adhere to this approach by turning obsidian into an all-in-one (AIO) productivity & electric journal. !!!!!!  Using Obsidian has completely changed the way I view notetaking and learning. It's not solely because of introduced the idea of a **Second Brain** method for *knowledge management*. I've attemptedin-one (AIO) productivity & electric journal. Final TRUE TEST PLEASE works.  </p>

        </section>
        <div id="pinned">
          <Post title="Arch Linux" postname="arch"/>
          <Post title="Reading" postname="Reading"/>
          <Post title="VIM movement" postname="vim"/>
        </div>
      </div>

      <!-- Other posts -->
      <Post />
      <Post />
      <Post />
    </main>
</BaseLayout>
