---
import '../styles/global.css/';
import Navigation from '../components/navBar.astro';
import Footer from '../components/footer.astro';

const pageTitle = "Home";
const skills = ["HTML", "CSS", "Java", "Javascript"];

// You can define css variables here
const skillColor = "navy";
---

<!-- This file is used purely for astro tutorial purposes-->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor}}>
      .skill {
        color: green;
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
	</head>
	<body>
		<h1>Hello World!</h1>

    <ul>
      <li><a href="/mental/">Mental</a></li>
      <li><a href="/physical/">physical</a></li>   
      <li><a href="/culinary/">culinary</a></li>
      <li><a href="/compsci/">compsci</a></li>
    </ul>
    
    <p>text</p>

    <div>
      <a href="/posts/runtime-Analysis">post1</a>

      <p>my skills are:</p>
      <ul class="skill">
       {skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </div>

    <Footer />
    
	</body>
</html>
