---

---
<style>
  .bar {
    background: rgba(17,17,17,0.29);
    width: 981;
    width: 100%;
    margin-left: -8;
    margin-right: -8;
    padding: 0;
  }
  nav a {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  nav {
    text-align: center;
  }

  .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>

<div class='bar'>
  <nav class='center'>
      <a href="/">home</a>
      <a href="/physical/">Physical</a>
      <a href="/culinary/">Culinary</a>
      <a href="/compsci/">Compsci</a>
  </nav>
  
</div>
