---
const { title, postname, blurb } = Astro.props;
---
<style>
#post {
  margin: 5px;
  width: clamp(500px,50%,1000px);
  flex: 1;
  background-color: #111;
  border: 2px solid #d9dcdc;
  border-radius: 4px;
}

#post:hover {
  animation: 2s ease-in 1s normal;
  background-color: #d9dcdc;
  /*border: 2px solid #000;*/
  color: #111;
  box-shadow: -2px 2px 5px white;
  text-decoration: underline solid black 1px;
  border-radius: 4px;
}

h1 {
  font-size: 28px;
  text-align: left;
  padding-left: 20px;
  text-decoration: underline solid white 1px;
}

p {
  font-style: italic;
}

</style>

<section id="post">
  <h1>{title}</h1>
  <p> {blurb} </p>
  <a href={`${postname}`}>Read</a>
</section>
